#about-main{
	clear: both;
	padding-top: 30px;
	width: 34%;
	color: #e1d4cc;
	padding-left: 14px;
	position: relative;
	/*text-shadow: 1px 1px 2px black;*/
}
#button{}
 #about-main h1{
 	margin-bottom: 40px;
 	font-weight: normal;
 	line-height: 1.5em;
 }

 #about-main .move{
 	width: 250px;
 	font-family: "幼圆";
 	font-size: 20px;
 	height: auto;
 	line-height: 1.5em;
 	text-align: center;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid gray;
	cursor: pointer;
	/*position: absolute;*/
 }
  /*#about-main .move:hover{
  	color: white;
  	background: #3b3b3b;
  }*/
  .move div{
  	/*border-bottom: 1px dotted gray;*/
  	padding: 4px;
  }
  #about-main .about-text{
  	margin-top: 10px;
  	display: none;
  	margin-bottom: 10px;
  	padding: 0 10px;
  	line-height: 2em;
  }

  /*钟硕爱心哈哈哈*/
  #heart{
  	width: 150px;
  	position: fixed;
  	left: 830px;
  	top: 100px;
  }
  
  #heart img{
	width: 100px;
	margin-bottom: 30px;
	padding: 10px;
  }

  #img1{
  	margin-left: 200px;
  }
  #img2{
  	margin-left: 100px;
  }
  #img3{
  	margin-left: 20px;
  }
 
