@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{font-family:"微软雅黑";font-size:14px;background:url(../img/bg03.jpg) no-repeat center top;}
#user-reg{background:#e7c8df;width:600px;margin:10px 600px;}
#user-reg p img{display:block;width:206px;margin:0 auto;}
#user-reg h1{text-align:center;font-size:30px;font-weight:normal;}

#tb{width:450px;margin:20px auto;vertical-align:middle;}
td{vertical-align: middle;padding:2px;}
.input-text{width:250px;height:25px;line-height:25px;background:fffdff;border:1px #c3b0ac solid;border-radius:3px;}
#user-word{width:250px;height:50px;background:fffdff;margin-bottom:10px;border:1px #c3b0ac solid;}
#user-img{margin:10px;}
.input-agr{text-align: center;}
#link a{text-decoration:none;color:#0CF;target:_blank;}
#link a:hover{cursor:pointer;color:#C6C;}				
.input-btn{height:25px;width:100px;margin:10px;background:#CFF;}